<table class="table table-striped table-bordered mx-auto" style="width: 50%">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Geburtsdatum</th>
    <th scope="col">Anschrift</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of user; let i = index">
    <th>{{i + 1}}</th>
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td>{{user.birthDate | date: 'dd.mm.yyyy'}}</td>
    <td>{{user.address}}, {{user.postCode}} {{user.place}}</td>
  </tr>
  </tbody>
</table>
